.box {
  padding:50px;
  margin: 10px;
  border: solid black 1px;
}

.inlineBox {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.box:hover {
  background-color:green;
}

.item {
  position: absolute;
}
